<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jeesperon/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Module 1 - Python Basics ***

## **First Program**

In [27]:
print('assignment01 for GitJobish03 and edited in git, and 18')
print("hola mundo")

assignment01 for GitJobish03 and edited in git, and 18
hola mundo

La función print() permite mostrar el resultado de una operación

In [28]:
print("Hola Mundo")

Hola Mundo

Cuando usamos el comando \n entre dos caracteres entrecomillados, hace un salto de línea

In [29]:
print("Hello\nWorld")

Hello
World

Los comentarios se guardan con el símbolo # al principio de la oración

In [30]:
#Los comentarios se guardan de esta manera

## **Types**

Se pueden encontrar los tipos de datos con la función `type`.

In [31]:
type("Hello World")

str

Type Casting
Find the type of the following using the <code>type</code> command

In [32]:
type("1.1")

str

<h3>Is a number always a number?
</h3>
Cast the following to an <code>int</code> and then to a <code>bool</code>:

In [33]:
print(int("1"))
print(bool("1"))

print(bool("1"))

1
True
True

## **Exercise: Expression and Variables in Python**

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [34]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=3+2*2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [35]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [36]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z=x+y
z

17

## **What are strings?**

In [37]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [38]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [39]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [40]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [41]:
# Print the string

print("hello!")

hello!

In [43]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

### Index

Because indexing starts at 0, it means the first index is on the index 0.

In [44]:
# Print the first element in the string

print(name[0])

M

In [45]:
# Print the element on index 6 in the string

print(name[6])

l

In [46]:
# Print the element on the 13th index in the string

print(name[13])

o

The last element is given by the index -1:

In [47]:
# Print the last element in the string

print(name[-1])

n

In [48]:
# Print the first element in the string

print(name[-15])

M

In [49]:
# Find the length of string

len("Michael Jackson")

15

In [50]:
len(name)

15

### **Slicing**

In [51]:
#What is the result of the following line of code:
"0123456".find('1')

1

In [52]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

Use a stride value of 2 on the following string :

In [53]:
Good="GsoAo+d"
Good[::2]

'Good'

Convert the following string to uppercase using the method <code>upper()</code>:

In [54]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [55]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [56]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

### Stride

In [57]:
# Get every second element. The elments on index 1, 3, 5 ...
name="Michael Jackson"
name[::2]

'McalJcsn'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [58]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

### Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [59]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [60]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [61]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

### Scape Sequences

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [62]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [63]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [64]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [65]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

### String Operations

In [66]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [67]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [68]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [69]:
# Find the substring in the string.

name.find('Jack')

8

In [70]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

## Quiz On Strings

What is the value of the variable <code>a</code> after the following code is executed?

In [71]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

'1'

What is the value of the variable <code>b</code> after the following code is executed?

In [72]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

What is the value of the variable <code>c</code> after the following code is executed?

In [73]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

'12'

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [74]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[0:3])

ABC

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [75]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [76]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")

\

Convert the variable <code>f</code> to uppercase:

In [77]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

Consider the variable g, and find the first index of the sub-string snow:

In [78]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In the variable g, replace the sub-string Mary with Bob:

In [79]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [80]:
name="Liz"
name[:2]

'Li'

# Module 2 - Python Data Structures

## Tuples & Lists

Create a tuple  <code> (0,1,2,3) </code> and assign it to variable <code>A</code>:

In [81]:
A=(0,1, 2, 3)
print(A)

(0, 1, 2, 3)

Find the first two elements of tuple <code> A </code>

In [82]:
A[0:2]

(0, 1)

For the next few questions, you will need the following list:

In [83]:
B=["a","b","c"]

Find the first two elements of the list <code> B</code>:

In [84]:
B[:2]

['a', 'b']

Change the first element of the list to an uppercase <code>"A"</code>.

In [85]:
B[0]="A"
print(B)

['A', 'b', 'c']

### Quiz on Tuples

Consider the following tuple:

In [86]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, <code>genres_tuple</code>:

In [87]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

Access the element, with respect to index 3:

In [88]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

Find the first two elements of the tuple <code>genres_tuple</code>:

In [89]:
# Write your code below and press Shift+Enter to execute
genres_tuple[:2]

('pop', 'rock')

Find the first index of <code>"disco"</code>:

In [90]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [91]:
# Write your code below and press Shift+Enter to execute
c_tuple=(-5,1,-3)
c_list=sorted(c_tuple)
c_list
print(type(c_list))

<class 'list'>

### Quiz on List

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>\[1,2,3]</code> and <code>True</code>.

In [92]:
# Write your code below and press Shift+Enter to execute
a_list=[1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of <code>a_list</code>.

In [93]:
# Write your code below and press Shift+Enter to execute
a_list[0]

1

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [94]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:

In [95]:
# Write your code below and press Shift+Enter to execute
A=[1,"a"]
B=[2,1,"d"]
#A.extend(B)
print(A)
A+B

[1, 'a']

[1, 'a', 2, 1, 'd']

## Sets

Cast a List to a Set

In [96]:
to_set=['A','B','C','A','B','C']
set(to_set)

{'A', 'B', 'C'}

Add the string 'D' to the set S.

In [97]:
S={'A','B','C'}
S.add("D")
S

{'A', 'B', 'C', 'D'}

Find the intersection of set A and B.

In [98]:
A={1,2,3,4,5}
B={1,3,9, 12}
print(A.intersection(B))
print(A&B)

{1, 3}
{1, 3}

### Quiz on Sets

Convert the list <code>\['rap','house','electronic music', 'rap']</code> to a set:

In [99]:
# Write your code below and press Shift+Enter to execute
set(["rap","house","electronic music","rap"])

{'electronic music', 'house', 'rap'}

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [100]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [101]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [102]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

## Dictionaries

In [103]:
#Usando el diccionario:
D={'a':0,'b':1,'c':2}

In [104]:
#encontrar el valor de 'a'
D["a"]

0

In [105]:
#find the keys of dict D
D.keys()

dict_keys(['a', 'b', 'c'])

### Quiz on Dictionaries

In [106]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary <code>soundtrack_dic</code> what are the keys ?

In [107]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary <code>soundtrack_dic</code> what are the values ?

In [108]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()

dict_values(['1992', '1977'])

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [109]:
# Write your code below and press Shift+Enter to execute
album_sales_dict={"Back in Black":"50M","The Bodyguard":"50M","Thriller":"65M"}
album_sales_dict

{'Back in Black': '50M', 'The Bodyguard': '50M', 'Thriller': '65M'}

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [110]:
# Write your code below and press Shift+Enter to execute
album_sales_dict["Thriller"]

'65M'

c) Find the names of the albums from the dictionary using the method <code>keys()</code>:

In [111]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

d) Find the values of the recording sales from the dictionary using the method <code>values</code>:

In [112]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

dict_values(['50M', '50M', '65M'])

#Module 3 - Python programming fundamentals

## Conditions & Branchings

Find the value of i that produces a True:

In [113]:
i=1
i!=0

True

Find the value of <code>x</code> that prints the statement <code>"this is a"</code>:

In [114]:
x = "a"
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

Find the value of <code>y</code> that produces a <code>True</code> statement:

In [115]:
    y=5
    x=1
    x>0 and y<10

True

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [116]:
# Write your code below and press Shift+Enter to execute
rating=8.5
if rating>8:
    print("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [117]:
# Write your code below and press Shift+Enter to execute
rating=9
if rating>8:
    print("this album is amazing")
else:
    print("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [118]:
# Write your code below and press Shift+Enter to execute
album_yr=1990
if album_yr<1980 or album_yr==1991 or album_yr==1993:
    print("the year album is:",album_yr)
print("it's an album out of those years")

it's an album out of those years

## Loops

Use loops to print out the elements in the list <code>A</code>:

In [119]:
A=[3,4,5]
for i in A:
    print(i)

3
4
5

Find the value of <code> x </code> that will print out the sequence <code> 1,2,..,10 </code>:

In [120]:
x=11
y=1
while(y != x):
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [121]:
# Write your code below and press Shift+Enter to execute
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: <code>Genres=\[ 'rock', 'R\&B', 'Soundtrack', 'R\&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [122]:
# Write your code below and press Shift+Enter to execute
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: <code>squares=\['red', 'yellow', 'green', 'purple', 'blue']</code>

In [123]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = \[10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [124]:
# Write your code below and press Shift+Enter to execute
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i + 1

10
10
9.5
10
8
7.5

Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [125]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

## Functions

Complete the function <code> f </code> so that it returns the product of <code>a</code> and <code>b</code>. Use the next cell to test the function.

In [126]:
def f(a,b):
    
    return a*b

Test the function using the next cell:

In [127]:
a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

Complete the function <code>g</code> such that the input <code>c</code> is a list of integers and the output is the sum of all the elements in the list.

In [128]:
def g(c):

    return sum(c)

Test the function using the next cell:

In [129]:
c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

Come up with a function that divides the first input by the second input:

In [130]:
# Write your code below and press Shift+Enter to execute
def div(a, b):
    return(a/b)

Use the function <code>con</code> for the following question.

In [131]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add two integers or strings?

In [132]:
# Write your code below and press Shift+Enter to execute
con(2,2)

4

## Object & Classes

In [136]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

Create a <code> Car </code> object "my_car" with the given data attributes:

In [140]:
make="BMW"
model="M3"
color="red"
my_car = Car(make,model,color)

Use the method `car_info()` to print out the data attributes.

In [141]:
my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

Call the method <code> sell() </code> in the loop, then call the method <code> car_info()</code> again

In [142]:
for i in range(5):
    my_car.sell()

my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 5

In [144]:
import sys

sampleMap = {'eirmod': 1,'sed': 1, 'amet': 2, 'diam': 5, 'consetetur': 1, 'labore': 1, 'tempor': 1, 'dolor': 1, 'magna': 2, 'et': 3, 'nonumy': 1, 'ipsum': 1, 'lorem': 2}

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

print("Constructor: ")
try:
    samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
    print(testMsg(samplePassage.fmtText == "lorem ipsum dolor diam amet consetetur lorem magna sed diam nonumy eirmod tempor diam et labore et diam magna et diam amet"))
except:
    print("Error detected. Recheck your function " )
print("freqAll: ")
try:
    wordMap = samplePassage.freqAll()
    print(testMsg(wordMap==sampleMap))
except:
    print("Error detected. Recheck your function " )
print("freqOf: ")
try:
    passed = True
    for word in sampleMap:
        if samplePassage.freqOf(word) != sampleMap[word]:
            passed = False
            break
    print(testMsg(passed))
    
except:
    print("Error detected. Recheck your function  " )

Constructor:
Test Passed
freqAll:
Test Passed
freqOf:
Test Passed

In [145]:
class analysedText(object):
    
    def __init__ (self, text):
        # remove punctuation
        formattedText = text.replace('.','').replace('!','').replace('?','').replace(',','')
        
        # make text lowercase
        formattedText = formattedText.lower()
        
        self.fmtText = formattedText
        
    def freqAll(self):        
        # split text into words
        wordList = self.fmtText.split(' ')
        
        # Create dictionary
        freqMap = {}
        for word in set(wordList): # use set to remove duplicates in list
            freqMap[word] = wordList.count(word)
        
        return freqMap
    
    def freqOf(self,word):
        # get frequency map
        freqDict = self.freqAll()
        
        if word in freqDict:
            return freqDict[word]
        else:
            return 0

In [ ]:
#Module 4 - Working with Data in Python

<h2 id="write">Writing Files</h2>

We can open a file object using the method <code>write()</code> to save the text file to a list. To write to a file, the mode argument must be set to **w**. Let’s write a file **Example2.txt** with the line: **“This is line A”**

In [ ]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

We can read the file to see if it worked:

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

We can write multiple lines:

In [ ]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

You can check the file to see if your results are correct

In [ ]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

We write a list to a **.txt** file  as follows:

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

We can verify the file is written by reading it and printing out the values:

In [ ]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

However, note that setting the mode to **w** overwrites all the existing data in the file.

In [ ]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

<hr>
<h2 id="Append">Appending Files</h2>

We can write to files without losing any of the existing data as follows by setting the mode argument to append: **a**.  you can append a new line as follows:

In [ ]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

You can verify the file has changed by running the following cell:

In [ ]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

<hr>
<h2 id="add">Additional modes</h2>

It's fairly ineffecient to open the file in **a** or **w** and then reopening it in **r** to read any lines. Luckily we can access the file in the following modes:

*   **r+** : Reading and writing. Cannot truncate the file.
*   **w+** : Writing and reading. Truncates the file.
*   **a+** : Appending and Reading. Creates a new file, if none exists.

You dont have to dwell on the specifics of each mode for this lab.

Let's try out the **a+** mode:

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

There were no errors but <code>read()</code> also did not output anything. This is because of our location in the file.

Most of the file methods we've looked at work in a certain location in the file. <code>.write() </code> writes at a certain location in the file. <code>.read()</code> reads at a certain location in the file and so on. You can think of this as moving your pointer around in the notepad to make changes at specific location.

Opening the file in **w** is akin to opening the .txt file, moving your cursor to the beginning of the text file, writing new text and deleting everything that follows.
Whereas opening the file in **a** is similiar to opening the .txt file, moving your cursor to the very end and then adding the new pieces of text. <br>
It is often very useful to know where the 'cursor' is in a file and be able to control it. The following methods allow us to do precisely this -

*   <code>.tell()</code> - returns the current position in bytes
*   <code>.seek(offset,from)</code> - changes the position by 'offset' bytes with respect to 'from'. From can take the value of 0,1,2 corresponding to beginning, relative to current position and end

Now lets revisit **a+**

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Finally, a note on the difference between **w+** and **r+**. Both of these modes allow access to read and write methods, however, opening a file in **w+** overwrites it and deletes all pre-existing data. <br>
To work with a file on existing data, use **r+** and **a+**. While using **r+**, it can be useful to add a <code>.truncate()</code> method at the end of your data. This will reduce the file to your data and delete everything that follows. <br>
In the following code block, Run the code as it is first and then run it with the <code>.truncate()</code>.

In [ ]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

<hr>

<h2 id="copy">Copy a File</h2>

Let's copy the file **Example2.txt** to the file **Example3.txt**:

In [ ]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

We can read the file to see if everything works:

In [ ]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

After reading files, we can also write data into files and save them in different file formats like **.txt, .csv, .xls (for excel files) etc**. You will come across these in further examples

**NOTE:** If you wish to open and view the `example3.txt` file, download this lab [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/PY0101EN-4-2-WriteFile.ipynb) and run it locally on your machine. Then go to the working directory to ensure the `example3.txt` file exists and contains the summary data that we wrote.

<h2 id="download">Download Data</h2>

In [ ]:
## Uncomment these if working locally, else let the following code cell run.

# import urllib.request
# url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
# filename = 'Example1.txt'
# urllib.request.urlretrieve(url, filename)

## Download Example file
# !wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

In [ ]:
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")

<hr>

<h2 id="read">Reading Text Files</h2>

One way to read or write a file in Python is to use the built-in <code>open</code> function. The <code>open</code> function provides a **File object** that contains the methods and attributes you need in order to read, save, and manipulate the file. In this notebook, we will only cover **.txt** files. The first parameter you need is the file path and the file name. An example is shown as follow:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadOpen.png" width="500" />

The mode argument is optional and the default value is **r**. In this notebook we only cover two modes:

<ul>
    <li>**r**: Read mode for reading files </li>
    <li>**w**: Write mode for writing files</li>
</ul>

For the next example, we will use the text file **Example1.txt**. The file is shown as follows:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadFile.png" width="100" />

We read the file:

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

We can view the attributes of the file.

The name of the file:

In [ ]:
# Print the path of file

file1.name

The mode the file object is in:

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

We can read the file and assign it to a variable :

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

The **/n** means that there is a new line.

We can print the file:

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

The file is of type string:

In [ ]:
# Type of file content

type(FileContent)

It is very important that the file is closed in the end. This frees up resources and ensures consistency across different python versions.

In [ ]:
# Close file after finish

file1.close()

<hr>

<h2 id="better">A Better Way to Open a File</h2>

Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

The file object is closed, you can verify it by running the following cell:

In [ ]:
# Verify if the file is closed

file1.closed

We can see the info in the file:

In [ ]:
# See the content of file

print(FileContent)

The syntax is a little confusing as the file object is after the <code>as</code> statement. We also don’t explicitly close the file. Therefore we summarize the steps in a figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadWith.png" width="500" />

We don’t have to read the entire file, for example, we can read the first 4 characters by entering three as a parameter to the method **.read()**:

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

Once the method <code>.read(4)</code> is called the first 4 characters are called. If we call the method again, the next 4 characters are called. The output for the following cell will demonstrate the process for different inputs to the method <code>read()</code>:

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

The process is illustrated in the below figure, and each color represents the part of the file read after the method <code>read()</code> is called:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/read.png" width="500" />

Here is an example using the same file, but instead we read 16, 5, and then 9 characters at a time:

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

We can also read one line of the file at a time using the method <code>readline()</code>:

In [ ]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

We can also pass an argument to <code> readline() </code> to specify the number of charecters we want to read. However, unlike <code> read()</code>, <code> readline()</code> can only read one line at most.

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

We can use a loop to iterate through each line:

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

We can use the method <code>readlines()</code> to save the text file to a list:

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

Each element of the list corresponds to a line of text:

In [ ]:
# Print the first line

FileasList[0]

# Print the second line

FileasList\[1]

In [ ]:
# Print the third line

FileasList[2]

# Introduction to Pandas in Python

<h2 id="dataset">About the Dataset</h2>

The table has one row for each album and several columns.

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

In [ ]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])

In [ ]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [ ]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [ ]:
# Print first five rows of the dataframe

df.head()

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [ ]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:

In [ ]:
# Access to the column Length

x = df[['Length']]
x

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgOne.png" width="750" />

<hr>

<h2 id="data">Viewing Data and Accessing Data</h2>

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [ ]:
# Get the column as a series

x = df['Length']
x

You can also get a column as a dataframe. For example, we can assign the column <b>Artist</b>:

In [ ]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [ ]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

The process is shown in the figure:

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgTwo.png" width="1100" />

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

You can access the 2nd row and the 1st column as follows:

In [ ]:
# Access the value on the second row and the first column

df.iloc[1,0]

You can access the 1st row and the 3rd column as follows:

In [ ]:
# Access the value on the first row and the third column

df.iloc[0,2]

In [ ]:
# Access the value on the second row and the third column
df.iloc[1,2]

This is shown in the following image

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/2_loc.PNG" width="750" />

You can access the column using the name as well, the following are the same as above:

In [ ]:
# Access the column using the name

df.loc[1, 'Artist']

In [ ]:
# Access the column using the name

df.loc[1, 'Artist']

In [ ]:
# Access the column using the name

df.loc[0, 'Released']

In [ ]:
# Access the column using the name

df.loc[1, 'Released']

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/1_loc.png" width="750" />

You can perform slicing using both the index and the name of the column:

In [ ]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/4_loc.png" width="750" />

In [ ]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/3_loc.png" width="750" />